<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.caiobep.windowswithcer</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>30CDE848-DA94-4E16-8606-3ADA5590539E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97F8F95B-B43F-4973-B377-53970647B79A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>385480C4-D782-48C3-85B6-00BA0EA9CB52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF1EB364-91C6-4789-94E5-C7DF1C1457E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3974ED61-7D68-4F0D-B38A-DFE12938DA67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64A6AF72-E81A-4840-9B15-09A802AAA395</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EB19AF8-96BC-4C23-81DE-142CF9246A9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A514517-529E-4534-8171-15374CD594C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A052B824-D95B-429A-AAC6-A79E3FAB4519</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5D1AC47-BD54-4285-9533-444BA5CF41FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7B58D73-1CDC-49C5-A77E-9022FF2BAEA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99BD7DEB-7FDD-4D59-B0A5-F56FA400A8B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2C059E5-6ED4-43D1-AA5D-3983BD6A1B48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDE2EC2E-3B83-42DB-ACDA-690D21E0C8FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8E12FA7-5A91-499E-BB18-9A5945B7D800</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30048ADC-47DC-40B5-ABA2-5F570E8B905E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE9FA7CA-E94F-4F11-B0DF-B4FB2EDFA3F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA2AF3B2-FC88-4169-836A-2989A2594477</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFC861D7-1793-4252-9A2B-5C7BCF7B54DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2355C62-72E0-4F9F-BB57-D5F20AF97775</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>caiobep</string>
	<key>description</key>
	<string>Caiobep</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>My Window Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A7B58D73-1CDC-49C5-A77E-9022FF2BAEA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>99BD7DEB-7FDD-4D59-B0A5-F56FA400A8B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>30CDE848-DA94-4E16-8606-3ADA5590539E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3974ED61-7D68-4F0D-B38A-DFE12938DA67</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>64A6AF72-E81A-4840-9B15-09A802AAA395</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Setapp/Ulysses.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>97F8F95B-B43F-4973-B377-53970647B79A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EE9FA7CA-E94F-4F11-B0DF-B4FB2EDFA3F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>41</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>;</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FFC861D7-1793-4252-9A2B-5C7BCF7B54DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>FA2AF3B2-FC88-4169-836A-2989A2594477</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Notion.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B2355C62-72E0-4F9F-BB57-D5F20AF97775</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E8E12FA7-5A91-499E-BB18-9A5945B7D800</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>30048ADC-47DC-40B5-ABA2-5F570E8B905E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A052B824-D95B-429A-AAC6-A79E3FAB4519</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>385480C4-D782-48C3-85B6-00BA0EA9CB52</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/OmniFocus.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A5D1AC47-BD54-4285-9533-444BA5CF41FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C2C059E5-6ED4-43D1-AA5D-3983BD6A1B48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WhatsApp.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>AF1EB364-91C6-4789-94E5-C7DF1C1457E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Firefox Developer Edition.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>EDE2EC2E-3B83-42DB-ACDA-690D21E0C8FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8EB19AF8-96BC-4C23-81DE-142CF9246A9B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set appName to "Amethyst"	if application appName is running then		tell application appName to quit	else		tell application appName to activate	end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>0A514517-529E-4534-8171-15374CD594C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A faster way to access applications I use daily!</string>
	<key>uidata</key>
	<dict>
		<key>0A514517-529E-4534-8171-15374CD594C5</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>30048ADC-47DC-40B5-ABA2-5F570E8B905E</key>
		<dict>
			<key>xpos</key>
			<integer>1300</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>30CDE848-DA94-4E16-8606-3ADA5590539E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>385480C4-D782-48C3-85B6-00BA0EA9CB52</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>3974ED61-7D68-4F0D-B38A-DFE12938DA67</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>64A6AF72-E81A-4840-9B15-09A802AAA395</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>8EB19AF8-96BC-4C23-81DE-142CF9246A9B</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>97F8F95B-B43F-4973-B377-53970647B79A</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>99BD7DEB-7FDD-4D59-B0A5-F56FA400A8B7</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>A052B824-D95B-429A-AAC6-A79E3FAB4519</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>A5D1AC47-BD54-4285-9533-444BA5CF41FA</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>A7B58D73-1CDC-49C5-A77E-9022FF2BAEA4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>AF1EB364-91C6-4789-94E5-C7DF1C1457E7</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>B2355C62-72E0-4F9F-BB57-D5F20AF97775</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C2C059E5-6ED4-43D1-AA5D-3983BD6A1B48</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>E8E12FA7-5A91-499E-BB18-9A5945B7D800</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>EDE2EC2E-3B83-42DB-ACDA-690D21E0C8FE</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>EE9FA7CA-E94F-4F11-B0DF-B4FB2EDFA3F6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>FA2AF3B2-FC88-4169-836A-2989A2594477</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>FFC861D7-1793-4252-9A2B-5C7BCF7B54DB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. One hotkey can perform multiple actions. Connect it to more than one object to do this.</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/caiobep/windowswitcher</string>
</dict>
</plist>
